<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerfish0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{1200,0},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{1600,0},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{0,252},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{400,252},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{800,252},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{1200,252},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{1600,252},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{0,504},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{400,504},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{800,504},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{1200,504},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{1600,504},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{0,756},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{400,756},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{800,756},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{1200,756},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerfish0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,252}</string>
                <key>textureRect</key>
                <string>{{1600,756},{400,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerFish.png</string>
            <key>size</key>
            <string>{2000,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0651b64fdd04413f35928d1909041f4:a2efddc02fbf44cd7619ea02b159941d:f6cff930f9e590a7b958a960013503b8$</string>
            <key>textureFileName</key>
            <string>playerFish.png</string>
        </dict>
    </dict>
</plist>
