<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubbleAnim30001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{0,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{133,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{266,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{399,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{532,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{665,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{798,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{931,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1064,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1197,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1330,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1463,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1596,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1729,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1862,0},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{0,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{133,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{266,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{399,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{532,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{665,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{798,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{931,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1064,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1197,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1330,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1463,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1596,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim30029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,461}</string>
                <key>spriteSourceSize</key>
                <string>{133,461}</string>
                <key>textureRect</key>
                <string>{{1729,461},{133,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubblesCorrect.png</string>
            <key>size</key>
            <string>{1995,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5700e3c025a54e0852032681f5ad2b82:3a714bff9b4dfb441d36f2f98f3af82e:2b0be4e5b1f96ebbc2316b8114d1c720$</string>
            <key>textureFileName</key>
            <string>bubblesCorrect.png</string>
        </dict>
    </dict>
</plist>
