<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubbleAnim20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{0,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{231,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{462,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{693,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{924,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1155,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1386,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1617,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1848,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{2079,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{2310,0},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{0,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{231,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{462,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{693,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{924,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1155,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1386,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1617,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1848,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{2079,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{2310,622},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{0,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{231,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{462,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{693,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{924,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1155,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1386,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1617,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1848,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{2079,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{2310,1244},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{0,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{231,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{462,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{693,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{924,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1155,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1386,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1617,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{1848,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{2079,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim20044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,622}</string>
                <key>spriteSourceSize</key>
                <string>{231,622}</string>
                <key>textureRect</key>
                <string>{{2310,1866},{231,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubbles2.png</string>
            <key>size</key>
            <string>{2541,2488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d60c3e339ae105060e1ab89d770886:22edbf703bf3f8259fbf7074f20da6d6:7cd994277be46f2c3ee89ed4e3d6e0bb$</string>
            <key>textureFileName</key>
            <string>bubbles2.png</string>
        </dict>
    </dict>
</plist>
