<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seahorse0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{0,0},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{184,0},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{368,0},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{552,0},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{736,0},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{0,252},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{184,252},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{368,252},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{552,252},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{736,252},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{0,504},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{184,504},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{368,504},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{552,504},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{736,504},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{0,756},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{184,756},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{368,756},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{552,756},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seahorse0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{736,756},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seaHorse.png</string>
            <key>size</key>
            <string>{920,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20a1da1f52a7d24281e5ba2cdde204fc:0adae29e9a74fe7ea2864863b6111e43:a5845e863184e9ec6df3c2466681f9a7$</string>
            <key>textureFileName</key>
            <string>seaHorse.png</string>
        </dict>
    </dict>
</plist>
