<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubbleAnim10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{0,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{233,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{466,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{699,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{932,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1165,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1398,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1631,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1864,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{2097,0},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{0,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{233,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{466,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{699,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{932,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1165,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1398,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1631,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1864,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{2097,628},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{0,1256},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{233,1256},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{466,1256},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{699,1256},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{932,1256},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1165,1256},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1398,1256},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1631,1256},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbleAnim10029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,628}</string>
                <key>spriteSourceSize</key>
                <string>{233,628}</string>
                <key>textureRect</key>
                <string>{{1864,1256},{233,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubbles1.png</string>
            <key>size</key>
            <string>{2330,1884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d3e0eab2142d8a4cefa0bef1c56e93:0751bd92360ea90fdf32f23e2a0fd620:cd23733c0e80f084bbd3b591e75bfb83$</string>
            <key>textureFileName</key>
            <string>bubbles1.png</string>
        </dict>
    </dict>
</plist>
