<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BubblePop_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,222}</string>
                <key>spriteSourceSize</key>
                <string>{251,222}</string>
                <key>textureRect</key>
                <string>{{0,0},{251,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,252}</string>
                <key>spriteSourceSize</key>
                <string>{285,252}</string>
                <key>textureRect</key>
                <string>{{251,0},{285,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,273}</string>
                <key>spriteSourceSize</key>
                <string>{307,273}</string>
                <key>textureRect</key>
                <string>{{536,0},{307,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,282}</string>
                <key>spriteSourceSize</key>
                <string>{319,282}</string>
                <key>textureRect</key>
                <string>{{843,0},{319,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,287}</string>
                <key>spriteSourceSize</key>
                <string>{323,287}</string>
                <key>textureRect</key>
                <string>{{1162,0},{323,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,553}</string>
                <key>spriteSourceSize</key>
                <string>{572,553}</string>
                <key>textureRect</key>
                <string>{{0,287},{572,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,586}</string>
                <key>spriteSourceSize</key>
                <string>{604,586}</string>
                <key>textureRect</key>
                <string>{{572,287},{604,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,589}</string>
                <key>spriteSourceSize</key>
                <string>{611,589}</string>
                <key>textureRect</key>
                <string>{{612,1465},{611,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,589}</string>
                <key>spriteSourceSize</key>
                <string>{612,589}</string>
                <key>textureRect</key>
                <string>{{0,1465},{612,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,589}</string>
                <key>spriteSourceSize</key>
                <string>{612,589}</string>
                <key>textureRect</key>
                <string>{{1223,1465},{612,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,589}</string>
                <key>spriteSourceSize</key>
                <string>{612,589}</string>
                <key>textureRect</key>
                <string>{{612,876},{612,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,589}</string>
                <key>spriteSourceSize</key>
                <string>{612,589}</string>
                <key>textureRect</key>
                <string>{{1176,287},{612,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BubblePop_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,589}</string>
                <key>spriteSourceSize</key>
                <string>{612,589}</string>
                <key>textureRect</key>
                <string>{{0,876},{612,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubblesWrong.png</string>
            <key>size</key>
            <string>{1835,2054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caee2d8440744922903ad6877431fac5:61e6b2a07600a18624cc3461521bf505:dae3640f0d8d02ae1f78b51c95a1e856$</string>
            <key>textureFileName</key>
            <string>bubblesWrong.png</string>
        </dict>
    </dict>
</plist>
